body {
    background-color: #f9f6ef;
}

div {
    background-color: #2b5148;
}

img {
    width: 50px;
}

button {
    background-color: #a53f32;
}

p {
    color: #f9f6ef;
    font-family: Montserrat;
}

h3 {
    color: #f9f6ef;
    font-family: Caveat Brush;
}

.naviguation {
    background-color: #f9f6ef;
}

.footer {
    color: #2b5148;
}