<div class="w-full flex justify-between items-center pt-2 pb-2">
    <a href="/" class="w-[140px] block select-none active:scale-95 transition-transform outline-none">
        <img src="../image/logo-principal.png" 
             alt="SaôneLocal" 
             class="w-full h-auto block">
    </a>
    
    <a href="/" class="text-saone-green text-2xl p-2 outline-none transition-colors duration-200 active:text-saone-terracotta focus:text-saone-terracotta">
        <i class="fa-solid fa-house"></i>
    </a>
</div>